* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #650000;
    color: #FFFFFF
}

#nav a{
    padding: 20px;
    color: #FFFFFF;
}

#main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#title {
    font-size: 90px;
    text-align: center;
    font-weight: 900;
    margin: 50px auto 50px auto;
}

#cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1480px;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
}

.lostCards {
    width: 296px;
    height: 347px;
    border-radius: 12px;
    border: 1px solid #CAC4D0;
}

#cardHeader {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 72px;
}

#itemName {
    margin: 0;
}

#picture {
    background-color: #650000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

#lostPicture {
    height: 75px;
    background-color: #650000;
}

#lostInformation {
    height: 200px;
    padding-left: 10px;
}

button {
    display: block;
    width: 100px;
    height: 40px;
    border-radius: 100px;
    margin-top: 30px;
    background-color: #650000;
    color: #FFFFFF;
    border: none;
}

#reportCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 80%;
    height: 750px;
    border: 1px solid #D9D9D9;
}

#inputFields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#field {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

label {
    width: 240px;
    font-weight: bold;
    font-size: 34px;
}

input, textarea {
    width: 590px;
    height: 35px;
    margin-left: auto;
    border-radius: 8px;
    border: none;
    background-color: #D9D9D9;
    padding: 6px;
}

#desc {
    height: 75px;
}

#reportButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#lostInformation button {
    margin-left: auto;
    margin-right: 10px;
}

#mainForum {
    display: flex;
    height: 100%;
    width: 100%;
}

#recent, #notifications {
    width: 25%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#posts {
    width: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newPosts {
    margin-top: 30px;
    width: 300px;
    height: 180px;
    background-color: #650000;
    border-radius: 16px;
}

#popTags {
    width: 300px;
    height: 340px;
    background-color: #650000;
    border-radius: 16px;
    margin-top: 30px;
}

#createPost {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    width: 800px;
    margin-top: 30px;
    border-radius: 16px;
    min-height: 100px;
    height: auto;
    background-color: #650000;
}

#createPost button{
    margin-top: 0;
    font-size: 14px;
}

#createPost #picture, #samplePost #picture {
    margin: 0;
    background-color: #D9D9D9;
}

#createPost input {
    margin: 0;
    height: 50px;
}

#samplePost {
    margin-top: 30px;
    width: 800px;
    height: auto;
    display: flex;
    min-height: 230px;
    border-radius: 16px;
    background-color: #650000;
}

#postPhotoDiv {
    width: 30%;
    align-items: center;
    justify-content: center;
    display: flex;
}

#postDescDiv {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#postPhoto {
    width: 85%;
    height: 85%;
    background-color: #D9D9D9;
    border-radius: 16px;
}

#postDesc, #postAuthor {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    color: #D9D9D9;
}

#postAuthor #postAuthordesc {
    margin-left: 10px;
}

#notifs {
    height: 300px;
    width: 300px;
    background-color: #650000;
    border-radius: 16px;
    margin-top: 30px;
    color: #D9D9D9;
    display: flex;
    flex-direction: column;
}

#notifs h3, #newPostsHeader, #popTagsHeader{
    margin-left: 20px;
    color: #D9D9D9;
}

#notificationsDiv {
    height: 60px;
    color: #D9D9D9;
}

#notificationsDiv p {
    margin-left: 20px;
}

dialog {
    padding: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    width: 50%;
    height: 50%;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

input, textarea {
    margin: 0 auto 20px auto;
    padding: 8px;
    font-size: 14px;
    height: 50px;
}

textarea {
    height: 200px;
}

button {
    margin-top: 5px;
    padding: 8px;
}

#actions {
    display: flex;
}